<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="VzS-7koyBh8Url9FoHKm4OlzvqXaqlputGpm5ZnsUTM" />
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                     <h1 style="text-align: center;">Successful!!!</h1>

                <!-- <a href="/logout" role="button" class="link">Log Out</a> -->
                <div class="field button-field" style="text-align: center;">
                    <a href="/logout" role="button" style="text-align: center;" >LogOut</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
